header .name {
    display: inline-block;
    margin-right: 2rem;
    margin-top: .15rem;
    font-size: 1.25rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .15rem
    padding: 0;
}

header img{
	width: 200px;
	display: block;
	margin-left: 2rem;
	margin-bottom: 1rem;
}

header.section{
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid grey;
}

.header-links{
	width:70%;
	display: inline-block;
	margin-top: 2rem;
	float:right;
}

header.section a {
    margin-right: 2rem;
    display: inline-block;
    vertical-align: top;
}

h2{
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: .4rem;
}

h5{
	font-size: 1.15rem;
	padding-top: .5rem;
	font-weight: 200;
}

td{
	font-weight: 200;
	padding: 1.25rem;
	text-align: center;
}

th{
	padding: 1.25rem;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

.carpool_chat{
	border: 1px solid black;
	padding: 30px;
}

.carpool_chat h2{
	margin-top:0;
}

p{
	font-weight: 200;
	letter-spacing: .2rem;
}