<script>
    var raw_users = {{stops_json|safe}};
    var dojo_address = "{{dojo_address}}";
    var start_address = "{{start_address}}";
</script>

{% if user.carpool_id > 0 %}
    <div class="section">
        <div class="container">
            <h2 class="center-align">Your carpool</h2>
            <a href="{% url 'carpool:leave' %}" class="btn right">Leave Carpool</a>
            {% if carpool.driver.id == request.session.user_id %}
                <h5>You're the driver for this Carpool!</h5>
            {% else %}
                <h5>Your driver is {{carpool.driver.first_name}}.</h5>
            {% endif %}
        </div>
    </div>

    <div class="section">
        <div class="container map-wrap">
            <div id="map"></div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <table class="bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Distance</th>
                        <th>Approximate Travel Time</th>
                        <th>Estimated Arrival</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="right-align">Leave by:</td>
                        <td>6:00 AM</td>
                    </tr>
                    <tr id="dojo_stop">
                        <td>Coding Dojo</td>
                        <td>{{dojo_address}}</td>
                        <td class="distance"></td>
                        <td class="time"></td>
                        <td class="eta"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h2>Carpool Chat</h2>
    <div id="chats">
        {% for post in posts %}
            <h3>{{post.messager.first_name}} said...</h3>
            <p>{{post.message_body}}</p>
            <p>{{post.created_at}}</p>
        {% endfor %}
    </div>
    <form action="{#% url 'wall:post_message' id=wall.id %#}" method="post">
        {% csrf_token %}
        <textarea name="message_body" cols="30" rows="10" placeholder="Write your message..."></textarea>
        <input type="submit" class="btn" value="Post Message">
    </form>

    {% if car %}
        <div class="section">
            <div class="container">
                <h4>My Cars</h4>

                {#% for car in cars %#}
                    <div class="car">
                        <p>{{car.make}} {{car.model}}</p>
                        <p>Seats: {{car.seats}}</p>
                    </div>
                {#% endfor %#}
            </div>
        </div>
    {% endif %}

{% else %}
    <div class="section">
        <div class="container">
            <p>You are currently not in a carpool!</p>
            {{car}}
            <a href="{% url 'carpool:nearby' %}" class="btn">Join a Carpool</a>
            <a href="{% url 'carpool:new_carpool' %}" class="btn">Start a Carpool</a>
        </div>
    </div>

{% endif %}
