{% extends "base.html" %}
{% load static %}


{% block title %}
    <title>Carpool</title>
{% endblock %}


{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'carpool/css/styles.css' %}"  media="screen,projection"/>
{% endblock %}


{% block scripts %}
    <script src="{% static 'carpool/js/script.js' %}"></script>
{% endblock %}


{% block header %}
    {{block.super}}
{% endblock %}


{% block content %}
	{% include "./dashboard.html" %}
{% endblock %}


{% block footer %}
    {{block.super}}
{% endblock %}
