{% extends "base.html" %}
{% load static %}


{% block title %}
    <title>Carpool</title>
{% endblock %}


{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'account/css/styles.css' %}"  media="screen,projection"/>
{% endblock %}


{% block scripts %}
    <script src="{% static 'account/js/script.js' %}"></script>
{% endblock %}


{% block header %}
    {{block.super}}
{% endblock %}


{% block content %}

{% endblock %}


{% block footer %}
    {{block.super}}
{% endblock %}
