{% extends "base.html" %}
{% load static %}


{% block title %}
    <title>Nearby | Carpool</title>
{% endblock %}


{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'carpool/css/map.css' %}"  media="screen,projection">
    <link type="text/css" rel="stylesheet" href="{% static 'carpool/css/styles.css' %}"  media="screen,projection">
{% endblock %}


{% block scripts %}
    <script src="{% static 'carpool/js/map_carpool.js' %}"></script>
    {% include "./maps/carpool.html" %}
    <script src="{% static 'carpool/js/script.js' %}"></script>
{% endblock %}


{% block header %}
    {{block.super}}
{% endblock %}


{% block content %}
    <script>
        var raw_users = [{{stops_json|safe}}][0] || [];

        var dojo_address = "{{dojo_address}}" || '';
        var start_address = "{{start_address}}" || '';

    </script>

    <div class="section map-wrap">
        <div id="map"></div>
    </div>

    <div class="section">
        <h4>Users</h4>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>LastName</th>
                    <th>City</th>
                    <th>Zipcode</th>
                    <th>Status</th>
                    <th>Message</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}
                    <tr id="user_{{user.id}}">
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.city}}</td>
                        <td>{{user.zipcode}}</td>
                        <td>
                            {% if carpool.driver != user %}
                                Passenger
                            {% else %}
                                Driver
                            {% endif %}
                        </td>
                        {% if user.id != request.session.user_id %}<td><a href="{% url 'wall:wall_create' id=user.id %}">Message!</a></td>{% endif %}
                    </tr>
                {% endfor %}

                {% if not user.carpool_id == carpool.id %}
                    <tr>
                        {% if count < car.seats %}
                            <td><a href="{% url 'carpool:join' carpool_id=carpool.id%}"class='btn'>Join This Carpool</a></td>
                        {% else %}
                            <td><p>This carpool is currently full</p></td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td>This is your current Carpool!</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}


{% block footer %}
    {{block.super}}
{% endblock %}
