<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MESSAGE USER TEST</title>
    </head>
    <body>
        <h1>Other Users</h1>
        <table>
            <tr>
                <th>USER</th>
                <th>MESSAGE THEM</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{user.first_name}}</td>
                    <td><a href="#">MESSAGE USER</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
